body {
  background-color: #000000;
}

table, td {
  border: 1px solid #ffffff;
  border-collapse: collapse;
}

a {
  color: #ffffff;
}

.text {
  font-family: "Arial";
  color: #ffffff;
  margin: 4px;
}

.tablehead {
  font-family: "Arial";
  color: #ffffff;
  font-weight: bold;
}
